PORT=5000
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:5000

DB_HOST=internship-db-instance.ccdyym0qqnjk.us-east-1.rds.amazonaws.com
DB_PORT=3306
DB_NAME=internship_db
DB_USER=admin
DB_PASSWORD=YOUR_AWS_RDS_PASSWORD_HERE

JWT_SECRET=replace-with-a-long-random-secret

USE_LOCAL_UPLOAD=false

AWS_REGION=us-east-1
AWS_BUCKET_NAME=my-app-uploads-2026-tri
AWS_S3_BUCKET=my-app-uploads-2026-tri
AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY_HERE
AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET_KEY_HERE
AWS_S3_PUBLIC_READ=false